body {
  font-family: "Playfair Display", serif;
  padding: 20px;
  background-color: #ffe4c4;
}
h1,
h2,
label,
button,
input[type="text"] {
  font-family: "Playfair Display", serif;
  font-weight: 400;
}
h1,
h2 {
  color: #333;
}
button {
  margin: 10px 0;
  padding: 10px 20px;
  font-size: 16px;
  color: #fff;
  background-color: #352315;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
button:hover {
  background-color: #0056b3;
}
input[type="text"] {
  margin: 10px 0;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ddd;
  border-radius: 5px;
}
